@model Mvc_Schedule.Models.DataModels.Entities.Lesson

<div id="page-title">Уверены, что желаете удалить звонок в @Model.TimeString?</div>
<div id="selector-block">
    @Html.Partial("_CancelAgree")
</div>