<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version"
         value="1.0.0.0" />
    <add key="ClientValidationEnabled"
         value="true" />
    <add key="UnobtrusiveJavaScriptEnabled"
         value="true" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=b58f1071-0716-4fa1-8724-a12b0136df4b.sqlserver.sequelizer.com;Database=dbb58f107107164fa18724a12b0136df4b;User ID=pkujfdysjaemdbdo;Password=NRcmde3H3DSnSvUuNbquuWYL2em7Xy5EJfqpdegFFnCPxU8aoWYfTUpZZxt824TC;" />
    <!--<add name="ConnectionContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Schedule2;Persist Security Info=True;User ID=adm;Password=password" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true"
                 targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Auth/LogOn"
             timeout="2880" />
    </authentication>
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="On"
                  defaultRedirect="~/Error/">
      <error statusCode="404"
             redirect="~/Error/404" />
    </customErrors>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="ConnectionContext"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="ConnectionContext"
             applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ConnectionContext"
             applicationName="/"
             name="AspNetSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/"
             name="AspNetWindowsTokenRoleProvider"
             type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization requestEncoding="utf-8"
                   responseEncoding="utf-8"
                   fileEncoding="utf-8"
                   culture="ru-RU"
                   uiCulture="ru-RU"
                   enableClientBasedCulture="false"
                   responseHeaderEncoding="utf-8"
                   enableBestFitResponseEncoding="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>