@model Mvc_Schedule.Models.DataModels.Entities.Facult

<div id="page-title">Уверены, что хотите удалить факультет @Model.Name?</div>
<div id="selector-block">
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" />
    </p>
}
</div>