#warning_bg {
    background: #333;
    background-color: rgba(100, 100, 100, 0.9);
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;*/
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.warning {
    background: #e6e6e6;
    position: absolute;
    top: 20%;
    width: 400px;
    padding: 20px;
}
#close_dialog {
    color: #666666;
    text-decoration: underline;
    font-size: 12px;
    float: right;
}
#warning *, .warning * { color: #333; }
#warning a:hover, #dialog_form a:hover , #title_on_delete { text-decoration: underline; }
#warning a, #dialog_form a { padding: 3px 8px; }
.warning { display: none;position: fixed; } 
#dialog { display: block;cursor: pointer; }
#dialog_form #msg { font-size: 20px;padding-bottom: 10px; }
#dialog_form input, #dialog_form label { font-size: 14px; }
.dlg-template { display: none; }
