form {
	/*background: url('../Content/images/glow_bg.png') repeat;*/
	width: 275px;
	padding: 40px;
	margin: 0px auto;
	margin-top: 50px;
	font-size: 20px;
}
input[type=text], input[type=password] {
	margin: 10px;
	width: 240px;
	padding: 3px 5px;
	border: 1px solid #cc3300;
}
input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #cc3300;
}
