* {
    margin: 0;
    /*font-family: 'Century Gothic', 'DejaVu Sans', 'Futura', 'Helvetica Light', 'Arial', sans-serif;*/
    font-family: Georgia, serif;
    padding: 0;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

header, nav, section, article, aside, footer {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #fff;
}

a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#header {
    height: 50px;
    min-width: 400px;
    padding-top: 10px;
    padding-left: 20px;
}

    #header a {
        display: inline-block;
    }

a#agpa {
    font-size: 36px;
}

#header a#logo {
    padding: 10px;
    font-size: 24px;
}

#content {
    padding: 0 0 100px;
}

#page-title {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#facults, #groups {
    display: block;
    float: left;
    width: 440px;
}

.title {
    font-size: 24px;
    padding: 0px 5px;
    padding-top: 6px;
    padding-bottom: 10px;
}

p.title img {
    margin-bottom: -5px;
    padding-right: 8px;
}

#facults ul, #groups ul {
    list-style: none;
}

    #facults ul li a, #groups ul li a {
        padding: 5px 35px;
        padding-bottom: 10px;
        display: block;
        font-size: 20px;
    }

        #facults ul li a:hover {
            background: #cc3300;
        }

        #groups ul li a:hover {
            background: #990000;
        }

#facults .selected, #groups ul {
    background: #cc3300;
}

    #facults .selected:hover {
        background: #cc3300;
        cursor: default;
    }

#selector-block {
    width: 950px;
    margin: 0 auto;
}

    #selector-block ul {
        list-style: none;
    }

#page-title a {
    background: #333;
    padding: 0 10px 5px 10px;
}

    #page-title a:hover {
        background: #fff;
        color: #333;
    }

    .bw #page-title a:hover, #page-title a.select {
        color: #333;
        background: #fff;
        padding: 0 10px 5px 10px;
    }

        #page-title a.select:hover {
            background: #333;
            color: #fff;
        }

#footer {
    width: 100%;
    margin: -30px auto 0;
    height: 30px;
    text-align: right;
    font-size: 10px;
    position: relative;
    filter: alpha(opacity=35);
    opacity: 0.35;
}

input[type=submit] {
    text-decoration: none;
    border: 1px solid #fff;
    color: #cc3300;
    background: #fff;
    padding: 3px 3px;
    margin: 10px 0;
    font-size: 18px;
}

    input[type=submit]:hover {
        cursor: pointer;
        color: #fff;
        background: none;
    }

a#colorSwitcher {
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('images/color_bw.png') no-repeat;
}
/*bw theme*/ .bw a#colorSwitcher {
    background: url('images/color_or.png') no-repeat;
}

.bw a:hover {
    color: #404040;
}

.bw #wrapper {
    background: #fff;
    -webkit-box-shadow: inset 5px 5px 200px 10px #999999; /*-moz-box-shadow: inset 5px 5px 200px 10px #999999;	box-shadow: inset 5px 5px 200px 10px #999999;*/
}

.bw body {
    background: #fff;
    color: #000;
}

.bw .title {
    background: #ccc;
}

.bw #facults ul li a:hover {
    background: #e0e0e0;
}

.bw #groups ul li a:hover, .bw .weekday {
    background: #333;
}

.bw #facults .selected, .bw #groups ul, .bw #groups ul a {
    background: #333;
    color: #fff;
}

    .bw #groups ul a:hover {
        color: #ccc;
    }

    .bw #facults .selected:hover {
        background: #333;
    }

.bw .facult {
    background: #fff;
}

    .bw .facult a:hover {
        color: #999999;
    }

.bw input[type=submit] {
    color: #fff;
    background: #000;
}

    .bw input[type=submit]:hover {
        background: #fff;
        color: #000;
    }

.bw ul li, .bw #page-title, .bw label, .bw a, .bw #facults a {
    color: #000;
}

    .bw ul li a, .bw a.remove_element, .bw a.add_element {
        color: #fff;
    }

.bw h3:hover {
    background: #ccc;
    color: #000;
}

.bw .lesson { /*background: #fff; color: #000;*/
    color: #fff;
}

.bw #page-title a {
    color: #fff;
}

    .bw #page-title a.select {
        background: #ccc;
        color: #fff;
    }

.bw .ui-autocomplete {
    border: 1px solid #ccc;
}

.bw .weekday .name {
    background: #333;
}

.bw #weekSwitcher.select {
    background: url('../Content/images/week1_b.png') no-repeat;
}

.bw #weekSwitcher {
    background: url('../Content/images/week2_b.png') no-repeat;
}

.bw #wrapSwitcher {
    background: url('../Content/images/panel_wrap_b.png') no-repeat;
}

    .bw #wrapSwitcher.select {
        background: url('../Content/images/panel_list_b.png') no-repeat;
    }
